/* .my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow-y  : auto;
} */

/* Table parameters for a fixed thead and auto y scrollbar*/
thead,tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
tbody {
    height: 300px;
    overflow-y: auto;
    display: block;
}
th {
    text-align: center;
}

/* thead,tr,th{
    display:block;
    width: max-content;
    table-layout: fixed;
  } */

  
.table-wrapper-scroll-y {
    display: block;
}
